<!doctype html>
<html><head>
    <meta charset="utf-8">
    <title>BLOCKS - Bootstrap Dashboard Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Carlos Alvarez - Alvarez.is">

    <!-- Le styles -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/font-style.css" rel="stylesheet">
    <link href="/stylesheets/flexslider.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
    <script src="/javascripts/socket.io.js"></script>

    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timer.js"></script>

    <style type="text/css">
      body {
        padding-top: 60px;
      }

      .highcharts-credits{
        display: none;
      }

      .networkStatus p{
        text-align: center;
        margin: 0
      }

      .networkStatus p bold{
        text-align: center;
      }

      .percent {
        display: inline-block;
        line-height: 110px;
        z-index: 2;
      }
      .percent:after {
        content: '%';
        margin-left: 0.1em;
        font-size: .8em;
      }

      ul {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        height: 60px;
        background: #cccccc;
        font-size: 0;
        line-height: 0;
        letter-spacing: -0.3em;
      }
      li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 25%;
        text-align: center;
        font-size: 18px;
        line-height: 60px;
        letter-spacing: normal;
      }
      li a {
        display: block;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
      }
      li a:hover,
      li a.active {
        background: #333333;
        color: #ffffff;
      }
      li a.active:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        border: 10px solid;
        border-color: transparent;
        border-top-color: #333333;
      }
      .chart {
        position: relative;
        display: inline-block;
        width: 110px;
        height: 110px;
        margin-top: 22px;
        margin-left: 29%;
        margin-bottom: 20px;
        text-align: center;
      }
      .chart canvas {
        position: absolute;
        top: 0;
        left: 0;
      }
      .percent {
        display: inline-block;
        line-height: 110px;
        z-index: 2;
        font-size: 25px;
        color: #b2c831;
      }
      .percent:after {
        content: '%';
        margin-left: 0.1em;
        font-size: .8em;
      }
      .angular {
        margin-top: 100px;
      }
      .angular .chart {
        margin-top: 0;
      }
      input {
        display: block;
        margin: auto;
        margin-bottom: 3em;
      }
      .btn {
        display: block;
        width: 200px;
        margin: 0 auto;
        padding: 10px 20px;
        background: #cccccc;
        color: #ffffff;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 0.8em;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      .btn:hover {
        background: #333333;
        color: #ffffff;
      }
      .span6 {
        float: left;
        width: 50%;
      }
      @media only screen and (max-width: 600px) {
        li {
          font-size: 14.4px;
        }
      }
      @media only screen and (max-width: 430px) {
        .span6 {
          float: none;
          width: 100%;
        }
        body {
          padding-top: 0;
        }
        ul {
          height: auto;
          position: static;
        }
        li {
          display: block;
          width: 100%;
        }
        li a {
          white-space: normal;
        }
        a.active:after {
          display: none;
        }
      }

      .easyChartP{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px !important;
        font-weight: bold !important;
        color: #b2c831 !important;
        text-align: center !important;
      }

    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

  	<!-- Google Fonts call. Font Used Open Sans & Raleway -->
	  <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
  	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

    <script type="text/javascript">
      $(document).ready(function () {

          $("#btn-blog-next").click(function () {
            $('#blogCarousel').carousel('next')
          });
          $("#btn-blog-prev").click(function () {
            $('#blogCarousel').carousel('prev')
          });

          $("#btn-client-next").click(function () {
            $('#clientCarousel').carousel('next')
          });
          $("#btn-client-prev").click(function () {
            $('#clientCarousel').carousel('prev')
          });
          
      });

      $(window).load(function(){

          $('.flexslider').flexslider({
              animation: "slide",
              slideshow: true,
              start: function(slider){
                $('body').removeClass('loading');
              }
          });  
      });

    </script>

  </head>
  <body>