<%- include('partials/head'); -%>
  
  	<!-- NAVIGATION MENU -->
<!-- 
    <div class="navbar-nav navbar-inverse navbar-fixed-top">
      <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><img src="/img/logo30.png" alt=""> BLOCKS Dashboard</a>
      </div> 
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html"><i class="icon-home icon-white"></i> Home</a></li>
            <li><a href="manager.html"><i class="icon-folder-open icon-white"></i> File Manager</a></li>
            <li><a href="calendar.html"><i class="icon-calendar icon-white"></i> Calendar</a></li>
            <li><a href="tables.html"><i class="icon-th icon-white"></i> Tables</a></li>
            <li><a href="login.html"><i class="icon-lock icon-white"></i> Login</a></li>
            <li><a href="user.html"><i class="icon-user icon-white"></i> User</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
  </div> -->

  <div class="container">

  <!-- FIRST ROW OF BLOCKS -->     
    <div class="row">
    <!-- DONUT CHART BLOCK -->
      <div class="col-sm-3 col-lg-3">
        <div class="dash-unit">
          <dtitle>Site Bandwidth</dtitle>
          <hr>
          <div id="load"></div>
          <h2>45%</h2>
        </div>
      </div>

    <!-- DONUT CHART BLOCK -->
      <div class="col-sm-3 col-lg-3">
        <div class="dash-unit">
          <dtitle>Disk Space</dtitle>
          <hr>
          <div id="space"></div>
          <h2>65%</h2>
        </div>
      </div>
      
      <div class="col-sm-3 col-lg-3">

    <!-- LOCAL TIME BLOCK -->
        <div class="half-unit">
          <dtitle>Local Time</dtitle>
          <hr>
            <div class="clockcenter">
              <digiclock>12:45:25</digiclock>
            </div>
        </div>

        <!-- SERVER UPTIME -->
        <div class="half-unit">
              <dtitle>Server Uptime</dtitle>
              <hr>
              <div class="cont">
            <p><img src="/img/up.png" alt=""> <bold>Up</bold> | 356ms.</p>
          </div>
        </div>
          

      </div>
      <!-- GAUGE CHART BLOCK -->
      <div class="col-sm-3 col-lg-3">
        <div class="dash-unit">
          <dtitle>Gauge Chart</dtitle>
          <hr>
          <div class="info-user">
            <span aria-hidden="true" class="li_lab fs2"></span>
          </div>
          <canvas id="canvas" width="300" height="300">
          </canvas>
        </div>
      </div>
    </div><!-- /row -->
  
    
</div> <!-- /container -->
<div id="footerwrap">
      <footer class="clearfix"></footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-12">
          <p><img src="/img/logo.png" alt=""></p>
          <p>System Iformation Board - Hyper Remede - Copyright 2018</p>
          </div>

        </div><!-- /row -->
      </div><!-- /container -->		
</div><!-- /footerwrap -->
<%- include('partials/foot'); -%>
<script>
  var socket = io.connect();
  socket.on('connect', function (data) {
    socket.emit('join', 'Hello World from client');
    socket.emit('connected', { from: new Date()});
  });

  /**
   * When disconnect event occured
   **/
  socket.on('disconnect', function () {
    console.log('Disconnected');
  });

  
</script>
